#box001{
	left: 568px;
	top: 234px;
	width: 120px;
}
#box002{
	left: 106px;
	top: 1970px;
	width: 153px;
}
#box003{
	left: 776px;
	top: 1918px;
	width: 153px;
}
#box004{
	left: 776px;
	top: 1704px;
	width: 103px;
	height: 62px;
}
#box005{
	left: 1168px;
	top: 2065px;
	width: 141px;
}
#box006{
	left: 1320px;
	top: 1704px;
	width: 78px;
	height: 62px;
}
#box007{
	left: 892px;
	top: 1364px;
	width: 71px;
	height: 62px;
	z-index: -11;
}
#box008{
	left: 1402px;
	top: 1296px;
	width: 105px;
	height: 62px;
	z-index: -11;
}
#box009{
	left: 3303px;
	top: 1090px;
	width: 98px;
	height: 53px;
	z-index: -11;
}
#box010{
	left: 900px;
	top: 806px;
	width: 212px;
}
#box011{
	left: 1444px;
	top: 707px;
	width: 182px;
}
#box012{
	left: 1786px;
	top: 633px;
	width: 132px;
}
#box013{
	left: 1575px;
	top: 478px;
	width: 182px;
}
#box014{
	left: 2265px;
	top: 536px;
	width: 106px;
}
#box015{
	left: 2588px;
	top: 534px;
	width: 155px;
}
#box016{
	left: 2580px;
	top: 342px;
	width: 165px;
}
#box017{
	left: 3300px;
	top: 665px;
	width: 153px;
}
#box018{
	left: 3478px;
	top: 971px;
	width: 196px;
}
#box019{
	left: 3635px;
	top: 1105px;
	width: 114px;
}
#box020{
	left: 3294px;
	top: 1249px;
	width: 97px;
	height: 59px;
}
#box021{
	left: 3312px;
	top: 1518px;
	width: 65px;
	height: 63px;
}
#box022{
	left: 3247px;
	top: 1718px;
	width: 120px;
	height: 91px;
}
#box023{
	left: 3177px;
	top: 2052px;
	width: 266px;
	height: 51px;
}
#box024{
	left: 3177px;
	top: 2116px;
	width: 161px;
	height: 40px;
}
#box025{
	left: 3177px;
	top: 2168px;
	width: 184px;
	height: 43px;
}
#box026{
	left: 3177px;
	top: 2221px;
	width: 164px;
	height: 43px;
}
#box027{
	left: 3177px;
	top: 2274px;
	width: 153px;
	height: 43px;
}
#box028{
	left: 2428px;
	top: 2519px;
	width: 193px;
	height: 43px;
}
#box029{
	left: 2146px;
	top: 2097px;
	width: 234px;
	height: 37px;
}
#box030{
	left: 1628px;
	top: 2397px;
	width: 177px;
	height: 37px;
}
#box031{
	left: 1683px;
	top: 2095px;
	width: 105px;
	height: 52px;
}
#box032{
	left: 1592px;
	top: 2650px;
	width: 200px;
	height: 36px;
}






















