#cen001{
	top: 315px;
	left: 376px;
}
#cen002{
	top: 347px;
	left: 388px;
	height: 550px;
}
#cen003{
	top: 550px;
	left: 380px;
}
#cen004{
	top: 645px;
	left: 376px;
}
#cen005{
	top: 772px;
	left: 380px;
}
#cen006{
	top: 924px;
	left: 405px;
}
#cen007{
	top: 1030px;
	left: 502px;
}
#cen008{
	top: 1122px;
	left: 589px;
}
#cen009{
	top: 1351px;
	left: 539px;
}
#cen010{
	top: 1368px;
	left: 757px;
}
#cen011{
	top: 1368px;
	left: 927px;
}
#cen012{
	top: 1351px;
	left: 980px;
}
#cen013{
	top: 1345px;
	left: 1056px;
}
#cen014{
	top: 1345px;
	left: 1204px;
}
#cen015{
	top: 1368px;
	left: 1305px;
}
#cen016{
	top: 1345px;
	left: 1378px;
}
#cen017{
	top: 1368px;
	left: 1495px;
}
#cen018{
	top: 1345px;
	left: 1574px;
}
#cen019{
	top: 1368px;
	left: 1642px;
}
#cen020{
	top: 1345px;
	left: 1717px;
}
#cen021{
	top: 1345px;
	left: 1845px;
}
#cen022{
	top: 1345px;
	left: 2042px;
}
#cen023{
	top: 1345px;
	left: 2145px;
}
#cen024{
	top: 1345px;
	left: 2282px;
}
#cen025{
	top: 1378px;
	left: 2342px;
}
#cen026{
	top: 1421px;
	left: 2447px;
}
#cen027{
	top: 1297px;
	left: 2658px;
}
#cen028{
	top: 1189px;
	left: 2992px;
}
#cen029{
	top: 1185px;
	left: 3091px;
}
#cen030{
	top: 919px;
	left: 3399px;
}
#cen031{
	top: 806px;
	left: 3442px;
}
#cen032{
	top: 682px;
	left: 3442px;
}
#cen033{
	top: 519px;
	left: 3442px;
}
#cen034{
	top: 464px;
	left: 3442px;
}
#cen035{
	top: 396px;
	left: 3437px;
}
#cen036{
	top: 239px;
	left: 3442px;
}
#cen037{
	top: 192px;
	left: 3442px;
}
#cen038{
	top: 146px;
	left: 3442px;
}
#cen039{
	top: 100px;
	left: 3442px;
}
#cen040{
	top: 40px;
	left: 3437px;
}

#cen041{
	top: 315px;
	left: 3502px;
}
#cen042{
	top: 338px;
	left: 3581px;
}
#cen043{
	top: 319px;
	left: 3636px;
}
#cen044{
	top: 373px;
	left: 3696px;
}
#cen045{
	top: 440px;
	left: 3700px;
}
#cen046{
	top: 493px;
	left: 3700px;
}
#cen047{
	top: 547px;
	left: 3700px;
}
#cen048{
	top: 628px;
	left: 3649px;
}
#cen049{
	top: 610px;
	left: 3584px;
}
#cen050{
	top: 628px;
	left: 3518px;
}