#dlr .route{
	background-color: #fff;
	box-sizing: border-box;
	border: 3px solid #959ca1;
	border-width: 0 3px;
}
#dlr .route.hor{
	border-width: 3px 0;
}
#dlr .station{
    background-color: #959ca1;
    z-index: 10;
}
#dlr001{
	top: 1458px;
	left: 2521px;
}
#dlr002{
	top: 1498px;
	left: 2924px;
}
#dlr003{
	top: 1498px;
	left: 3015px;
}
#dlr004{
	top: 1498px;
	left: 3094px;
}
#dlr005{
	top: 1498px;
	left: 3158px;
}
#dlr006{
	top: 1498px;
	left: 3264px;
}
#dlr007{
	top: 1498px;
	left: 3331px;
}
#dlr008{
	top: 1498px;
	left: 3607px
}
#dlr009{
	top: 1522px;
	left: 3758px;
}
#dlr010{
	top: 1566px;
	left: 3802px;
}
#dlr011{
	top: 1610px;
	left: 3847px;
}
#dlr012{
	top: 1655px;
	left: 3892px;
}
#dlr012a{
	top: 1699px;
	left: 3936px;
}
#dlr013{
	top: 1744px;
	left: 3981px;
}
#dlr014{
	top: 1802px;
	left: 4039px;
}





