#hammersmith-and-city .route,
#hammersmith-and-city .station{
    background-color: #f386a1; 
    z-index: 10;
}
#ham001{
	top: 1579px;
	left: 1104px;
}
#ham002{
	top: 1511px;
	left: 1104px;
}
#ham002 strong{
	top: -17px;
}
#ham003{
	top: 1172px;
	left: 1191px;
}
#ham003 strong{
	right: 11px;
	top: -16px;
}
#ham004{
	top: 1132px;
	left: 1231px;
}
#ham004 strong{
	top: -14px;
	right: 11px;
}
#ham005{
	top: 1101px;
	left: 1903px;
}
#ham005 strong{
	top: -70px;
}
#ham006{
	top: 1274px;
	left: 1112px;
	height: 370px;
	z-index: 8 !important;
}
#ham007{
	top: 1253px;
	left: 1108px;
	z-index: -2 !important;
}
#ham008{
	top: 1185px;
	left: 1094px;
	z-index: -2 !important;
	width: 195px;
}
#ham009{
	top: 1109px;
	left: 1252px;
	z-index: -2 !important;
}
#ham010{
	top: 1109px;
	left: 1283px;
	width: 1030px;
}
#ham011{
	top: 1109px;
	left: 2308px;
	z-index: -2 !important;
}
#ham012{
	top: 1185px;
	left: 2300px;
	width: 200px;
}
#ham013{
	top: 1248px;
	left: 2460px;
}
#ham014{
	top: 1261px;
	left: 2508px;
	width: 233px;
}
#ham015{
	top: 1261px;
	left: 2738px;
	z-index: -2 !important;
	width: 48px;
	height: 48px;
	border-radius: 0 100% 0 0;
}
#ham016{
	top: 1309px;
	left: 2776px;
	height: 81px;
}
#ham017{
	top: 1388px;
	left: 2772px;
}
#ham018{
	top: 1415px;
	left: 2781px;
	width: 41px;
}
#ham019{
	top: 1421px;
	left: 2818px;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
}
#ham020{
	top: 1431px;
	left: 2847px;
	width: 270px;
}
#ham021{
	top: 1232px;
	left: 3032px;
	z-index: -2 !important;
}
#ham022{
	top: 1232px;
	left: 3063px;
	width: 424px;
}
#ham023{
	top: 1219px;
	left: 3478px;
	z-index: -1 !important;
}
#ham024{
	top: 1226px;
	left: 3497px;
	width: 240px;
}
#ham025{
	top: 1208px;
	left: 1178px;
}
#ham026{
	top: 1248px;
	left: 1138px;
}
#ham027{
	top: 1119px;
	left: 2133px;
}
#ham028{
	top: 1237px;
	left: 2434px;
}