#northern .route,
#northern .station{
    background-color: #000;
    z-index: 10;
}
#nor001{
	top: 114px;
	left: 2245px;
}
#nor002{
	top: 184px;
	left: 2267px;
}
#nor003{
	top: 225px;
	left: 2245px;
}
#nor004{
	top: 279px;
	left: 2245px;
}
#nor005{
	top: 277px;
	left: 2176px;
}
#nor006{
	top: 363px;
	left: 2245px;
}
#nor007{
	top: 432px;
	left: 2267px;
}
#nor007b{
	top: 487px;
	left: 2267px;
}
#nor008{
	top: 553px;
	left: 2267px;
}
#nor009{
	top: 619px;
	left: 2267px;
}
#nor010{
	top: 670px;
	left: 2245px;
}
#nor011{
	top: 289px;
	left: 1579px;
}
#nor012{
	top: 384px;
	left: 1659px;
}
#nor013{
	top: 434px;
	left: 1709px
}
#nor014{
	top: 459px;
	left: 1749px;
}
#nor015{
	top: 537px;
	left: 1811px;
}
#nor016{
	top: 562px;
	left: 1851px;
}
#nor017{
	top: 638px;
	left: 1913px;
}
#nor018{
	top: 748px;
	left: 2023px;
}
#nor019{
	top: 799px;
	left: 2074px;
}
#nor020{
	top: 875px;
	left: 2123px;
}
#nor021{
	top: 949px;
	left: 2101px;
}
#nor022{
	top: 1048px;
	left: 2096px;
}
#nor023{
	top: 1303px;
	left: 2046px;
}
#nor024{
	top: 1792px;
	left: 2041px
}
#nor025{
	top: 1094px;
	left: 2400px;
}
#nor026{
	top: 1137px;
	left: 2482px;
}
#nor027{
	top: 1458px;
	left: 2482px;
}
#nor028{
	top: 1698px;
	left: 2482px;
}
#nor029{
	top: 1974px;
	left: 2275px;
}
#nor030{
	top: 2201px;
	left: 2047px;
}
#nor031{
	top: 2220px;
	left: 2005px;
}
#nor032{
	top: 2321px;
	left: 1889px
}
#nor033{
	top: 2384px;
	left: 1839px;
}
#nor034{
	top: 2426px;
	left: 1797px;
}
#nor035{
	top: 2468px;
	left: 1742px;
}
#nor036{
	top: 2519px;
	left: 1730px;
}
#nor037{
	top: 2563px;
	left: 1687px;
}
#nor038{
	top: 2609px;
	left: 1642px;
}
#nor039{
	top: 2654px;
	left: 1595px;
}
#nor040{
	top: 2682px;
	left: 1527px;
}







