#pic001{
	top: 395px;
	left: 50px;
}
#pic002{
	top: 395px;
	left: 195px;
}
#pic003{
	top: 423px;
	left: 303px;
}
#pic004{
	top: 407px;
	left: 446px;
}
#pic005{
	top: 425px;
	left: 514px;
}
#pic006{
	top: 479px;
	left: 568px;
}
#pic007{
	top: 514px;
	left: 598px;
}
#pic008{
	top: 634px;
	left: 620px;
}
#pic009{
	top: 725px;
	left: 620px;
}
#pic010{
	top: 803px;
	left: 616px;
}
#pic011{
	top: 907px;
	left: 620px;
}
#pic012{
	top: 1215px;
	left: 620px;
}
#pic013{
	top: 1291px;
	left: 620px;
}
#pic014{
	top: 1502px;
	left: 611px;
}
#pic015{
	top: 1651px;
	left: 636px;
}
#pic016{
	top: 1677px;
	left: 576px;
}
#pic017{
	top: 1724px;
	left: 528px;
}
#pic018{
	top: 1772px;
	left: 481px;
}
#pic019{
	top: 1820px;
	left: 433px;
}
#pic020{
	top: 1861px;
	left: 379px;
}
#pic021{
	top: 1930px;
	left: 349px;
}
#pic022{
	top: 1949px;
	left: 291px;
}
#pic023{
	top: 2001px;
	left: 252px;
}
#pic024{
	top: 2064px;
	left: 176px;
}
#pic024 strong{
	width: 168px;
}
#pic025{
	top: 2107px;
	left: 212px;
}
#pic025 strong{
	top: -4px;
	left: 38px;
}
#pic026{
	top: 2176px;
	left: 64px;
}
#pic026 strong{
	top: -7px;
	left: 90px;
}
#pic027{
	top: 1678px;
	left: 829px;
}
#pic028{
	top: 1655px;
	left: 1106px;
}
#pic028 strong{
	top: -21px;
	right: 37px;
}
#pic029{
	top: 1659px;
	left: 1196px;
}
#pic030{
	top: 1655px;
	left: 1336px;
}
#pic031{
	top: 1659px;
	left: 1464px;
}
#pic032{
	top: 1655px;
	left: 1511px;
}
#pic033{
	top: 1579px;
	left: 1630px;
}
#pic034{
	top: 1535px;
	left: 1674px;
}
#pic035{
	top: 1479px;
	left: 1748px;
}
#pic035 strong{
	top: -37px;
	left: 87px;
}
#pic036{
	top: 1479px;
	left: 1936px;
}
#pic036 strong{
	top: -2px;
	left: -43px;
	text-align: right;
}
#pic037{
	top: 1449px;
	left: 2042px;
}
#pic037 strong{
	top: -13px;
	left: 89px;
	text-align: right;
}
#pic038{
	top: 1421px;
	left: 2108px;
}
#pic039{
	top: 1250px;
	left: 2179px;
}
#pic040{
	top: 1073px;
	left: 2247px;
}
#pic040 strong{
	width: 124px;
	margin-left: -62px;
	top: -94px;
}
#pic041{
	top: 783px;
	left: 2536px;
}
#pic041 strong{
	right: 77px;
	top: -19px;
}
#pic042{
	top: 734px;
	left: 2598px;
}
#pic043{
	top: 683px;
	left: 2650px;
}
#pic044{
	top: 610px;
	left: 2709px;
}
#pic044 strong{
	top: 15px;
	left: 112px;
}
#pic045{
	top: 553px;
	left: 2737px;
}
#pic046{
	top: 472px;
	left: 2737px;
}
#pic047{
	top: 417px;
	left: 2737px;
}
#pic048{
	top: 362px;
	left: 2737px;
}
#pic049{
	top: 307px;
	left: 2737px;
}
#pic050{
	top: 251px;
	left: 2737px;
}
#pic051{
	top: 183px;
	left: 2733px;
}
#pic052{
	top: 142px;
	left: 2738px;
	width: 25px;
}
#pic052 strong{
	left: 30px;
}
