body{
    background: white;
}
#map-container{
    width: 4104px;
    overflow: hidden;
    display: block;
    height: 2735px;
    position: relative;
    border: 2px solid #40c7f5;
    border-width: 2px 1px 2px 2px;
    margin: 100px;
}
#grid{
    position: absolute;
    top: 0;
    left: 0;
}
#grid li{
    float: left;
    border: 1px solid #40c7f5;
    border-width: 0 1px 1px 0;
    width: 455px;
    height: 455px;
}
.line li{
    position: absolute;
}

.route{
    width: 9px;
    height: 9px;
    display: block;
}

.roundel{
    height: 26px;
    width: 26px;
    display: block;
    background: #fff;
    border: 1px solid #1c3f95;
    border-radius: 50px;
    z-index: 50;
}
.connection{
    height: 22px;
    width: 22px;
    display: block;
    background: #fff;
    border: 6px solid #000;
    line-height: 26px;
}
.station{
    height: 7px;
    width: 8px;
    display: block;
    line-height: 7px;
}
.station.vertical{
    height: 8px;
    width: 7px;
    line-height: 16px;
}



strong{
    white-space: nowrap;
    color: #1c3f95;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
}
strong.left{
    text-align: right;
    right: 16px;
}
strong.right{
    text-align: left;
    left: 16px;
}
.connection strong.left{
    right: 36px;
}
.connection strong.right{
    left: 36px;
}

.rot315{
    -webkit-transform:rotate(315deg);
}
.rot315 strong{
    -webkit-transform:rotate(45deg);
    -webkit-transform-origin: 100% 100%;
}
.rot315 strong.left{
    right: 20px;
}
.rot315 strong.right{
    left: 20px;
}
.rot315.connection strong.left{
    right: 46px;
}
.rot315.connection strong.right{
    left: 46px;
}

#central .route,
#central .station{
    background-color: #ee2e24; 
    z-index: 10;
}




/*ul{
    display: block;
    overflow: hidden;
}
.central em{
    background: red;
}
.piccadilly em{
    background: blue;
}
li{
    display: block;
    float: left;
    margin-right: 10px;
}
em{
    display: block;
    position: relative;
}
em.d90{
    width: 25px;
    height: 25px;
}
em.up.right.d90{
    border-radius: 0 0 25px 0;
}
em.up.left.d90{
    border-radius: 0 0 0 25px;
}
em.down.left.d90{
    border-radius: 25px 0 0 0;
}
em.down.right.d90{
    border-radius: 0 25px 0 0;
}
em:before{
    content: '';
    position: absolute;
    display: block;
    background: white;
    height: 20px;
    width: 20px;
    top: 0;
}
em.up.right.d90:before{
   border-radius: 0 0 20px 0;
    left: 0;
}
em.up.left.d90:before{
   border-radius: 0 0 0 20px;
    right: 0;
}
em.down.right.d90:before{
   border-radius: 0 20px 0 0;
    left: 0;
    top: auto;
    bottom: 0;
}
em.down.left.d90:before{
   border-radius: 20px 0 0 0;
    right: 0;
    top: auto;
    bottom: 0;
}*/