#victoria .route,
#victoria .station{
    background-color: #009ddc;
    z-index: 10;
}
#vic001{
	top: 590px;
	left: 3203px;
}
#vic001 strong{
	left: 3px;
	top: 35px;
}
#vic002{
	top: 590px;
	left: 3050px;
}
#vic002 strong{
	top: -41px;
	left: 88px;
}
#vic003{
	top: 590px;
	left: 2969px;
}
#vic004{
	top: 590px;
	left: 2877px;
}
#vic005{
	top: 633px;
	left: 2732px;
}
#vic006{
	top: 802px;
	left: 2618px;
}
#vic006 strong{
	top: -44px;
	left: 87px;
}
#vic007{
	top: 1027px;
	left: 2247px;
}
#vic008{
	top: 1048px;
	left: 2141px
}
#vic009{
	top: 1148px;
	left: 2042px;
}
#vic010{
	top: 1901px;
	left: 1751px;
}
#vic011{
	top: 2076px;
	left: 1782px;
}
#vic012{
	top: 2253px;
	left: 1958px;
}
#vic013{
	top: 2361px;
	left: 2067px;
}
#vic014{
	top: 602px;
	left: 2805px;
	width: 400px;
}
#vic015{
	top: 602px;
	left: 2776px;
}
#vic016{
	top: 680px;
	left: 2614px;
	width: 200px;
}
#vic017{
	top: 751px;
	left: 2627px;
}
#vic018{
	top: 776px;
	left: 2631px;
	height: 175px;
}
#vic019{
	top: 954px;
	left: 2614px;
}
#vic020{
	top: 999px;
	left: 2553px;
	width: 90px;
}
#vic021{
	top: 1026px;
	left: 2543px;
}
#vic022{
	top: 1039px;
	left: 2194px;
	width: 349px;
}
#vic023{
	top: 1039px;
	left: 2164px;
}
#vic024{
	top: 1251px;
	left: 1686px;
	width: 565px;
	z-index: -1 !important;
}
#vic025{
	top: 1448px;
	left: 1755px;
}
#vic026{
	top: 1474px;
	left: 1759px;
	height: 571px;
}
#vic027{
	top: 2048px;
	left: 1755px;
}
#vic028{
	top: 2222px;
	left: 1705px;
	width: 454px;
}















